<%-	include("partials/header") %>
<div class ="container">
	<h1> Edit comment here!!!!</h1>
	<form action="/comics/<%=book._id%>/comments/<%=comment._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<label for="text">Comment area</label>
			<textarea class="form-control" name="text" id="text" rows="8" cols="80" placeholder="comment text here..." required><%= comment.text %></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit Comment</button>
	</form>
</div>



<%-	include("partials/footer") %>